service: token-administration-api
provider:
  name: aws
  runtime: dotnet8
  vpc: ${self:custom.vpc.${opt:stage}}
  stage: ${opt:stage}
  region: eu-west-2
  apiGateway:
    apiKeys:
      - api-key-${self:service}-${self:provider.stage}
    usagePlan:
      throttle:
        burstLimit: 200
        rateLimit: 100

package:
  artifact: ./bin/release/net8.0/token-administration-api.zip

functions:
  TokenAdministrationApi:
    name: ${self:service}-${self:provider.stage}
    handler: TokenAdministrationApi::TokenAdministrationApi.LambdaEntryPoint::FunctionHandlerAsync
    role: lambdaExecutionRole
    environment:
      CONNECTION_STRING: Host=${ssm:/api-auth-token-generator/${self:provider.stage}/postgres-hostname};Port=${ssm:/api-auth-token-generator/${self:provider.stage}/postgres-port};Database=auth_token_generator_db;Username=${ssm:/api-auth-token-generator/${self:provider.stage}/postgres-username};Password=${ssm:/api-auth-token-generator/${self:provider.stage}/postgres-password}
      jwtSecret: ${ssm:/api-auth-token-generator/${self:provider.stage}/token-secret}
    events:
      - http:
          path: /{proxy+}
          method: ANY
          private: true
resources:
  Resources:
    lambdaExecutionRole:
      Type: AWS::IAM::Role
      Properties:
        Path: /${self:service}/${self:provider.stage}/
        RoleName: ${self:service}-lambdaExecutionRole
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        ManagedPolicyArns:
          - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        Policies:
          - PolicyName: manageLogs
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - logs:CreateLogGroup
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:logs'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'log-group:/aws/lambda/*:*:*'
          - PolicyName: lambdaInvocation
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - "lambda:InvokeFunction"
                  Resource: "*"
custom:
  vpc:
    development:
      securityGroupIds:
        - sg-038858c252a355ffa
      subnetIds:
        - subnet-0deabb5d8fb9c3446
        - subnet-000b89c249f12a8ad
    staging:
      securityGroupIds:
        - sg-0c935c1e1df0a4d4c
      subnetIds:
        - subnet-06d3de1bd9181b0d7
        - subnet-0ed7d7713d1127656
    production:
      securityGroupIds:
        - sg-07d5d1b647871ed04
      subnetIds:
        - subnet-05e595c59b7d6c8df
        - subnet-0e6bc9b4ac24493cc
    pre-production:
      securityGroupIds:
        - sg-08dd301b41ec262e2
      subnetIds:
        - subnet-08aa35159a8706faa
        - subnet-0b848c5b14f841dfb
