version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5.4.1
  aws_assume_role: lbh-hackit/aws_assume_role@0.1.0
  node: circleci/node@7.2.1

executors:
  docker-python:
    docker:
      - image: cimg/python:3.14
  docker-terraform:
    docker:
      - image: "hashicorp/terraform:light"
  docker-dotnet:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:8.0

references:
  workspace_root: &workspace_root "~"
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

commands:
  assume-role-and-persist-workspace:
    description: "Assumes deployment role and persists credentials across jobs"
    parameters:
      aws-account:
        type: string
    steps:
      - checkout
      - aws_assume_role/assume_role:
          account: <<parameters.aws-account>>
          profile_name: default
          role: "LBH_Circle_CI_Deployment_Role"
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .aws
  preview-terraform:
    description: "Previews terraform state changes"
    parameters:
      environment:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - run:
          name: Initialize Terraform
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform get -update=true
            terraform init
      - run:
          name: Preview Terraform changes
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform plan
  terraform-init-then-apply:
    description: "Initializes and applies terraform configuration"
    parameters:
      environment:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - run:
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform get -update=true
            terraform init
          name: get and init
      - run:
          name: apply
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform apply -auto-approve
  deploy-lambda:
    description: "Deploys API via Serverless"
    parameters:
      stage:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - setup_remote_docker
      - node/install
      - run:
          name: Install serverless CLI
          command: npm i -g serverless
      - run:
          name: Build lambda
          command: |
            cd ./TokenAdministrationApi/
            chmod +x ./build.sh
            ./build.sh
      - run:
          name: Deploy lambda
          command: |
            cd ./TokenAdministrationApi/
            sls deploy --stage <<parameters.stage>> --conceal


  migrate-database:
    description: "Migrate database"
    parameters:
      stage:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - setup_remote_docker
      - run:
          name: Install SSH client
          command: apt-get update && apt-get install -y openssh-client
      - run:
          name: Install Unzip
          command: apt-get update && apt-get install unzip
      - run:
          name: Install AWS CLI
          command: |
            curl -L -o awscliv2.zip "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
            unzip awscliv2.zip
            ./aws/install
      - run:
          name: Install Session Manager plugin
          command: |
            curl "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
            dpkg -i session-manager-plugin.deb
      - run:
          name: Install dotnet ef core
          command: dotnet tool install dotnet-ef --version 8.0.11 --tool-path ./dotnet-ef-local/
      - run:
          name: Install postgresql client
          command: apt-get install -y postgresql-client
      - run:
          name: SSH into RDS and migrate database
          command: |
            aws ssm get-parameter --name "/platform-apis-jump-box-pem-key" --output text --query Parameter.Value > ./private-key.pem
            chmod 400 ./private-key.pem
            HOST=$(aws ssm get-parameter --name /api-auth-token-generator/<<parameters.stage>>/postgres-hostname --query Parameter.Value)
            PORT=$(aws ssm get-parameter --name /api-auth-token-generator/<<parameters.stage>>/postgres-port --query Parameter.Value)
            INSTANCE_NAME=$(aws ssm get-parameter --name /platform-apis-jump-box-instance-name --query Parameter.Value)
            ssh -4 -i ./private-key.pem -Nf -M -L 5432:${HOST//\"}:${PORT//\"} -o "UserKnownHostsFile=/dev/null" -o "StrictHostKeyChecking=no" -o ProxyCommand="aws ssm start-session --target %h --document AWS-StartSSHSession --parameters portNumber=%p --region=eu-west-2" ec2-user@${INSTANCE_NAME//\"}
            PASSWORD=$(aws ssm get-parameter --name /api-auth-token-generator/<<parameters.stage>>/postgres-password --query Parameter.Value)
            USERNAME=$(aws ssm get-parameter --name /api-auth-token-generator/<<parameters.stage>>/postgres-username --query Parameter.Value)
            DATABASE=$(aws ssm get-parameter --name /api-auth-token-generator/<<parameters.stage>>/postgres-database --query Parameter.Value)
            DOTNET_CONN_STR="Host=localhost;Password=${PASSWORD};Port=5432;Username=${USERNAME};Database=${DATABASE}"
            PSQL_CONN_STR="host=localhost password=${PASSWORD//\"} port=5432 user=${USERNAME//\"} dbname=${DATABASE//\"}"
            cd ./TokenAdministrationApi/

            if [ "<<parameters.stage>>" = "development" ]; then
              echo "Development environment detected. Attempting migration."
              CONNECTION_STRING=${DOTNET_CONN_STR} ./../dotnet-ef-local/dotnet-ef database update
              echo "Migration complete."
            else
              echo "Staging or Production environment detected. Marking the migration as complete"
              MIGRATION_NAME="20251125171927_AddApiGatewayIdToApiLookup"
              PRODUCT_VERSION="8.0.11"
              SQL_COMMAND="INSERT INTO \"__EFMigrationsHistory\" (\"MigrationId\", \"ProductVersion\") VALUES ('${MIGRATION_NAME}', '${PRODUCT_VERSION}');"
              psql "${PSQL_CONN_STR}" -c "${SQL_COMMAND}"
              echo "Migration successfully registered as complete."
            fi

jobs:
  check-code-formatting:
    executor: docker-dotnet
    steps:
      - checkout
      - run:
          name: Install dotnet format
          command: dotnet tool install dotnet-format --tool-path ./dotnet-format-local/
      - run:
          name: Run formatter check
          command: ./dotnet-format-local/dotnet-format --check
  build-and-test:
    executor: docker-python
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build
          command: docker-compose build token-administration-api-test
      - run:
          name: Run tests
          command: docker-compose run token-administration-api-test
  assume-role-development:
    executor: docker-python
    steps:
      - assume-role-and-persist-workspace:
          aws-account: $AWS_ACCOUNT_DEVELOPMENT
  assume-role-staging:
    executor: docker-python
    steps:
      - assume-role-and-persist-workspace:
          aws-account: $AWS_ACCOUNT_STAGING
  assume-role-production:
    executor: docker-python
    steps:
      - assume-role-and-persist-workspace:
          aws-account: $AWS_ACCOUNT_PRODUCTION
  assume-role-pre-production:
    executor: docker-python
    steps:
      - assume-role-and-persist-workspace:
          aws-account: $AWS_ACCOUNT_PRE_PRODUCTION
  preview-terraform-development:
    executor: docker-terraform
    steps:
      - preview-terraform:
          environment: "development"
  preview-terraform-staging:
    executor: docker-terraform
    steps:
      - preview-terraform:
          environment: "staging"
  preview-terraform-production:
    executor: docker-terraform
    steps:
      - preview-terraform:
          environment: "production"
  terraform-init-and-plan-pre-production:
    executor: docker-terraform
    steps:
      - preview-terraform:
          environment: "pre-production"
  terraform-init-and-apply-to-development:
    executor: docker-terraform
    steps:
      - terraform-init-then-apply:
          environment: "development"
  terraform-init-and-apply-to-staging:
    executor: docker-terraform
    steps:
      - terraform-init-then-apply:
          environment: "staging"
  terraform-init-and-apply-to-production:
    executor: docker-terraform
    steps:
      - terraform-init-then-apply:
          environment: "production"
  terraform-apply-pre-production:
    executor: docker-terraform
    steps:
      - terraform-init-then-apply:
          environment: "pre-production"
  deploy-to-development:
    executor: docker-dotnet
    steps:
      - deploy-lambda:
          stage: "development"
  deploy-to-staging:
    executor: docker-dotnet
    steps:
      - deploy-lambda:
          stage: "staging"
  deploy-to-production:
    executor: docker-dotnet
    steps:
      - deploy-lambda:
          stage: "production"
  deploy-to-pre-production:
    executor: docker-dotnet
    steps:
      - deploy-lambda:
          stage: "pre-production"
  migrate-database-development:
    executor: docker-dotnet
    steps:
      - migrate-database:
          stage: "development"
  migrate-database-staging:
    executor: docker-dotnet
    steps:
      - migrate-database:
          stage: "staging"
  migrate-database-production:
    executor: docker-dotnet
    steps:
      - migrate-database:
          stage: "production"
  migrate-database-pre-production:
    executor: docker-dotnet
    steps:
      - migrate-database:
          stage: "pre-production"

workflows:
  feature:
    jobs:
      - check-code-formatting:
          filters:
            branches:
              ignore: [ development, master ]
      - build-and-test:
          requires: [ check-code-formatting ]
      - assume-role-development:
          context: api-assume-role-development-context
          filters:
            branches:
              ignore: [ development, master ]
      - preview-terraform-development:
          requires: [ assume-role-development ]
      - assume-role-staging:
          context: api-assume-role-staging-context
          filters:
            branches:
              ignore: [ development, master ]
      - preview-terraform-staging:
          requires: [ assume-role-staging ]
      - assume-role-production:
          context: api-assume-role-production-context
          filters:
            branches:
              ignore: [ development, master ]
      - preview-terraform-production:
          requires: [ assume-role-production ]

  deploy-infrastructure:
    jobs:
      - deploy-development-infrastructure:
          type: approval
          filters:
            branches:
              only: development
      - assume-role-development:
          context: api-assume-role-development-context
          requires: [ deploy-development-infrastructure ]
      - preview-terraform-development:
          requires: [ assume-role-development ]
      - permit-terraform-deployment-to-development:
          type: approval
          requires: [ preview-terraform-development ]
      - terraform-init-and-apply-to-development:
          requires: [ permit-terraform-deployment-to-development ]
      - deploy-staging-infrastructure:
          type: approval
          filters:
            branches:
              only: master
      - assume-role-staging:
          context: api-assume-role-staging-context
          requires: [ deploy-staging-infrastructure ]
      - preview-terraform-staging:
          requires: [ assume-role-staging ]
      - permit-terraform-deployment-to-staging:
          type: approval
          requires: [ preview-terraform-staging ]
      - terraform-init-and-apply-to-staging:
          requires: [ permit-terraform-deployment-to-staging ]
      - deploy-production-infrastructure:
          type: approval
          filters:
            branches:
              only: master
      - assume-role-production:
          context: api-assume-role-production-context
          requires: [ deploy-production-infrastructure ]
      - preview-terraform-production:
          requires: [ assume-role-production ]
      - permit-terraform-deployment-to-production:
          type: approval
          requires: [ preview-terraform-production ]
      - terraform-init-and-apply-to-production:
          requires: [ permit-terraform-deployment-to-production ]
      

  deploy-api-code:
    jobs:
      - check-code-formatting:
          filters:
            branches:
              only: development
      - build-and-test:
          name: "Build and test development"
          filters:
            branches:
              only: development
      - start-development-deployment:
          type: approval
          requires: [ "Build and test development" ]
      - assume-role-development:
          context: api-assume-role-development-context
          requires: [ start-development-deployment ]
      - migrate-database-development:
          requires: [ assume-role-development ]
      - deploy-to-development:
          context: [ "Serverless Framework" ]
          requires: [ migrate-database-development ]
      - build-and-test:
          name: "Build and test master"
          filters:
            branches:
              only: master
      - start-staging-deployment:
          type: approval
          requires: [ "Build and test master" ]
      - assume-role-staging:
          context: api-assume-role-staging-context
          requires: [ start-staging-deployment ]
      - migrate-database-staging:
          requires: [ assume-role-staging ]
      - deploy-to-staging:
          context: [ "Serverless Framework" ]
          requires: [ migrate-database-staging ]
      - start-production-release:
          type: approval
          requires: [ deploy-to-staging ]
      - assume-role-production:
          context: api-assume-role-production-context
          requires: [ start-production-release ]
      - migrate-database-production:
          requires: [ assume-role-production ]
      - deploy-to-production:
          context: [ "Serverless Framework" ]
          requires: [ migrate-database-production ]

  deploy-terraform-pre-production:
    jobs:
      - permit-pre-production-terraform-workflow:
          type: approval
          filters:
            branches:
              only: master
      - assume-role-pre-production:
          context: api-assume-role-housing-pre-production-context
          requires:
            - permit-pre-production-terraform-workflow
          filters:
            branches:
              only: master
      - terraform-init-and-plan-pre-production:
          requires:
            - assume-role-pre-production
          filters:
            branches:
              only: master
      - permit-pre-production-terraform-deployment:
          type: approval
          requires:
            - terraform-init-and-plan-pre-production
          filters:
            branches:
              only: master
      - terraform-apply-pre-production:
          requires:
            - permit-pre-production-terraform-deployment
          filters:
            branches:
              only: master
  deploy-code-pre-production:
    jobs:
      - permit-pre-production-code-workflow:
          type: approval
          filters:
            branches:
              only: master
      - build-and-test:
          requires:
            - permit-pre-production-code-workflow
          filters:
            branches:
              only: master
      - assume-role-pre-production:
          context: api-assume-role-housing-pre-production-context
          requires:
            - build-and-test
          filters:
            branches:
              only: master
      - migrate-database-pre-production:
          requires:
            - assume-role-pre-production
          filters:
            branches:
              only: master
      - deploy-to-pre-production:
          context:
            - "Serverless Framework"
          requires:
            - migrate-database-pre-production
          filters:
            branches:
              only: master
